.lastRow {
    background-color: $colorBlack;
    padding: 10px;
    margin-right: 20px;
    color: $colorGray;
    text-align: center;
    font-size: 10px;
    border-bottom-right-radius:1em;
    border-bottom-left-radius: 1em;
 a {
      color: $colorWhites;
 }
}